/* entire document */

body {
    background-color: rgba(211, 211, 211, 1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(211, 211, 211, 1)
}

/* header only */
header {
    margin: 0px auto;
    width: 960px;
    background-color: rgb(211, 211, 211, 1);
    height: 250px;

}

header > img {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

h1 {
    text-align: center;
    padding: 30px;
    color: black;
}
header > nav {
    float: center;
}

header > nav > ul > li {
    display: inline-block;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(99, 106, 117);
    text-align: center;
    border-radius: 25px;
    margin-right: 30px;
    padding: 5px;
}

header > nav > ul > li > a {
    color: inherit; 
}

/* main only */

main {
    margin: 0px auto;
    width: 960px;
    background-color: rgb(99, 106, 117)
}

main > article {
    width: 310px;
    text-align: center; 
    display: inline-block;
    vertical-align: top;
    height: 600px;
}

main > article > img {
    width: 300px;
    border: 1px dotted black;
}

main > article > p {
    display: inline-block;
    width: 300px;
    border: 1px dotted black;
    text-align: center;
}

/* footer only */

footer {
    margin: 0px auto;
    width: 960px;
    background-color: rgb(211, 211, 211, 1);
    height: 250px;
    text-align: right;
    font-style: italic;
    color: black;


}
